body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: auto; /* Permet le défilement de la page */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: auto; /* Permet le défilement dans le conteneur */
}
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
 
    overflow: auto; /* Permet le défilement dans le conteneur */
}
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
 
    overflow: auto; /* Permet le défilement dans le conteneur */
}
.responsive-image {
    max-width: 100%;
    height: auto;
}
 
.form-container {
    background-color: #ffdf94;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin: auto; /* Ajouté pour centrer horizontalement */
}

.form-container h2 {
    text-align: center;
    color: #ff6600;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
    text-align: right;
      font-weight: 2900;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: larger;
}

.form-group input:focus {
    border-color: #ff6600;
    outline: none;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #ff6600;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #e65c00;
}

@media (max-width: 600px) {
    .form-container {
        padding: 15px;
    }

    .form-group input {
        padding: 8px;
    }

    .submit-btn {
        padding: 8px;
        font-size: 14px;
    }
}
.button {
    display: inline-flex;
    align-items: center;
    padding: 20px 80px;
    font-size: 26px;
    color: black;
    background-color: #dddd4b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.button:hover {
    transform: translateY(-5px);
}

.button .icon {
    margin-left: 10px;
}
.float{
position:fixed;
width:60px;
height:60px;
bottom:40px;
right:40px;
background-color:#25d366;
color:#FFF;
border-radius:50px;
text-align:center;
font-size:30px;
box-shadow: 2px 2px 3px #999;
z-index:100;
}

.my-float{
margin-top:16px;
} 
